.hero {
    background: url('../images/pizza-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(11, 1, 1);
    text-align: center;
  }
  
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .btn {
    background: #FF5733;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }